/* Utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
img{
    border-radius: 10px;
}
/* /Utility */

.container{
    width: 90%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.logo{
    width: 40%;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    margin-right: 20px;
}
nav{
    margin-top: 20px;
}
.header_bottom{
    width: 100%;
}
.layover{
    width: 100%;
}
.header_img{
    width: 100%;
    margin-top: 20px;
}
.header_text{
    position: relative;
    bottom: 200px;
    left: 50px;
}
/* /Header */

/* title and main text */
.left_img , .center_img , .right_img{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.center_img{
    background-image: url(../img/banner-2.jpg);
}
.left_img{
    background-image: url(../img/img-1.jpg);
}
.right_img{
    background-image: url(../img/img-3.jpg);
}
.main_content{
    width: 100%;
}
p{
    margin-top: 10px;
    color: grey;
}
.title{
    margin-bottom: 20px;
}
h4{
    margin-top: 10px;
}
aside , main{
    float: left;
}
aside{
    width: 23%;
}
main{
    width: 48%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.left{
    margin-right: 1%;
}
.right{
    margin-left: 1%;
}
.center_img{
    width: 100%;
}
/* /title and main text */
